body {
  padding: 3vw;
}
.trows{
  background-color: pink;
}
.recharts-wrapper {
	padding-top: -20;
}
.tooltip {
  position: relative;
  bottom: 10;
  display: inline-block;
  border-bottom: 1px dotted black;
}


table thead tr:first-child > th {
     position: sticky !important;
     top: 0;
     z-index: 2;
}
@keyframes spinball {
  from {
    transform: rotate(0deg);
  }
  to {

    transform: rotate(360deg);
  }
}
.ball {
	animation: spinball 2s linear;
	position : absolute;
	animation-iteration-count: 10;
}
.blurb {
  font-size: 2.5em;
  font-weight: 700;
  top: 20vh;
  position : relative;
}
.anim {
  top: 30vh;
}
